.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column; /* Kalp, yazı ve butonlar dikey olarak hizalanacak */
  }
  
  .kalp {
    position: relative;
    margin: auto;
    background-color: red;
    height: 100px;
    width: 100px;
    transform: rotate(-40deg);
    animation: heartbeat 1s ease-in-out infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .kalp::after,
  .kalp::before {
    content: "";
    background-color: red;
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
  }
  
  .kalp::after {
    top: 0px;
    left: 50px;
  }
  
  .kalp::before {
    top: -50px;
    left: 0px;
  }
  
  .kalp span {
    position: absolute;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 28px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  
  @keyframes heartbeat {
    0% {
      transform: rotate(-45deg) scale(1);
    }
    25% {
      transform: rotate(-45deg) scale(1.2);
    }
    50% {
      transform: rotate(-45deg) scale(1);
    }
    75% {
      transform: rotate(-45deg) scale(1.2);
    }
    100% {
      transform: rotate(-45deg) scale(1);
    }
  }
  
  /* Label stil */
  label {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
  }
  
  /* Butonlar */
  button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    border-radius: 5px;
  }
  
  .evet {
    background-color: rgb(233, 233, 233);
    color: black;
  }
  
  .hayir {
    background-color: black;
    color: white;
  }
  
  /* Hayır butonuna mouse ile yaklaşınca rastgele hareket */
  .hayir-hover {
    position: absolute;
    animation: moveRandom 1s forwards; /* 'forwards' ile animasyon tamamlandıktan sonra son pozisyonda kalır */
  }
  
  @keyframes moveRandom {
    0% { top: 0px; left: 0px; }
    100% { top: calc(100vh - 100px); left: calc(100vw - 150px); }
  }
  
  /* Evet butonuna tıklandığında patlama efekti */
  @keyframes patlama {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .patlama {
    animation: patlama 0.5s ease-out;
  }
  